* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100vw;
  height: 120px;
  background-color: #92aabd;
  font-size: 32px;
  padding-top: 52px;
  padding-left: 55px;
}

.title {
  padding-top: 30px;
  padding-left: 24px;
}

.box-1 {
  width: 536px;
  height: 321px;
  background-color: #183b56;
  margin-top: 170px;
  margin-left: 55px;
}

.img {
  width: 404.75px;
  height: 120px;
  background-color: #aaaaaa;
  margin: 39px 0 0 25px;
}

p {
  margin: 19px 0 0 24px;
}

.box-2 {
  width: 536px;
  height: 321px;
  background-color: #183b56;
  margin-top: 170px;
  margin-left: 55px;
}
